body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
  font-family: Proxima Nova;
}
header {
  display: flex;
  align-items: center;
  height: 48px;
}
#header-icon {
  margin: 0 10px 0 17px;
  border-radius: 5px;
}
header p {
  font-size: 13px;
  line-height: 16px;
}

header p span {
  color: #979797;
}
#header-install {
  margin-left: auto;
  margin-right: 16px;
}
#header-install img {
  vertical-align: middle;
}
section {
  background-image: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/images/backgroundPattern.png');
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
img {
  max-width: 100vw;
}

#full-logo {
  display: block;
  margin: 0 auto;
  padding-top: 91px;
  max-width: 90vw;
}

#display-gaming {
  margin: 0 auto;
  display: block;
}

#curve {
  display: flex;
  align-items: center;
  justify-content: center;
}
#down-arrow {
  position: absolute;
}

/* SECTION TWO */

.watch-now {
  display: block;
  margin: 0 auto;
  padding-top: 21px;
}

#outer-share-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#square-tv {
  border-radius: 15px;
}

#inner-share-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}

/* FOOTER */

.sub-text {
  line-height: 24px;
  color: #979797;
  text-align: center;
  margin: 24px 60px 40px 60px;
}

#sub-text-action {
  font-weight: 700;
}

#sub-text-action a {
  text-decoration: none;
  color: #979797;
}

#tv-icons {
  margin: 21px auto 21px auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
}

@media only screen and (max-width: 346px) {
  #tv-icons {
    flex-direction: column;
    text-align: center;
  }
}

#and-more {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-text {
  line-height: 20px;
  font-size: 10px;
  color: #9d9d9d;
  text-align: left;
  margin: 0 38px 13px 38px;
}

#end-content {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* FONTS */

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-RegularIt.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-LightIt.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-SemiboldIt.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-Semibold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('https://prodcdn.kidoodle.tv/kidoodle-2019-update/fonts/ProximaNova-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
